# bot token from discord.com/developers/applications
DISCORD_BOT_TOKEN=bot_token_here

# discord channel ID
DISCORD_CHANNEL_ID=123456789012345678

# rss feed url 
FEED_URL=http://localhost:1200/twitter/user/beardedhost

# how often to poll from feed data in minutes
POLL_INTERVAL_MINUTES=15
